<h1>New hostgroup</h1>

<% form_for(@hostgroup) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hostgroup_name %><br />
    <%= f.text_field :hostgroup_name %>
  </p>
  <p>
    <%= f.label :alias %><br />
    <%= f.text_field :alias %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', hostgroups_path %>