<h1>New Host</h1>

<% form_for(:host, @host, :url => { :action => "create" }) do |f| %>
<p>
    <b>host_name</b><br />
    <%= f.text_field :host_name %>
</p>
<p>
    <b>alias</b><br />
    <%= f.text_field :alias %>
</p>
<p>
    <b>address</b><br />
    <%= f.text_field :address %>
</p>

<p>
    <b>command</b><br />
    <%= select_tag(:command_id, options_for_select(@commands.collect { |c| [c.command_name, c.id] })) %>
</p>
<p>
    <b>timeperiod</b><br />
    <%= select_tag(:timeperiod_id, options_for_select(@timeperiods.collect { |t| [t.alias, t.id] })) %>
</p>

<p>
    <b>contact group</b><br />
    <%= collection_select_multiple :host, :contactgroups, @contactgroups, :id, :alias %>
</p>

<p>
    <b>host group</b><br />
    <%= collection_select_multiple :host, :hostgroups, @hostgroups, :id, :alias %>
</p>


<p>
    <b>details</b><br />
    <%= f.text_area :details, :size => "60x12" %>
</p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', hosts_path %>
